body{
    font-family: 'Roboto';
    margin: 0;
}

.container{
    display: flex;
}

.container.header{
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
}