body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.container{
    display: flex;
}

.container.header,
.container.heroo{
    background-color: #1F2937;
}

.heroo{
    justify-content: space-evenly;
    align-items: center;
    padding: 75px 0 75px 0;
}

.container.header{
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
}

p.hero,
.hero-main{
    color: #F9FAF8;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}


ul{
    list-style-type: none;
}


.btn{
    width: 100px;
    background-color: rgb(0, 140, 255);
    color: white;
    border-radius: 25px;
}

ul.container{
    gap: 25px;
}

.container.hero{
    flex-direction: column;
    width: 400px;
}

.info-header{
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.img-text{
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
}

.text{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.gaksters{
    gap: 15px;
}

div.img-text > img{
    border-radius: 25px;
}

.quote1{
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 0 100px 0;
}

.quote2{
    width: 750px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quotes{
    flex-direction: column;
    align-items: end;
    gap: 15px;
}

.guy{
    font-size: 22px;
    font-weight: bold;
}