body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.container{
    display: flex;
}

.container.header,
.container.hero{
    background-color: #1F2937;
}

.container.header{
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
}

div.container.hero > p{
    color: #F9FAF8;
}

div.container.hero > button{
    width: 100px;
}

ul.container{
    gap: 25px;
}

.container.hero{
    flex-direction: column;
}